body {
    padding: 10px;
}


.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    grid-auto-rows: auto;
    gap: 1rem;
    
}

.header-container {
    display: flex;
    flex-direction: row;
}

.header {
    grid-column: span 2;
    text-align: center;
    align-self: center;
    font-size: 100px;
    color: #7f927f;
    min-width: 500px;
    
}

.user-nav-container {
    grid-column: span 1;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 0.5rem;
}

.main-nav-container {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.nav-item {
    background-color: #88c588;
    color: white;
    padding: 20px;
    font-size: 20px;
    min-width: 200px;
    text-align: center;

}

.nav-link {
    color: white;
    text-decoration: none;
}

.listing-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-column: span 2;
    min-width: 500px;
}

.listing {
    display: flex;
    flex-direction: row;
    width: 80%;
    background-color: #dfdfdf;
    min-height: 250px;
    min-width: 500px;
    flex-basis: 100%;
}

.listing-img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    min-width: 250px;
    min-height: 250px;
}

.listing-img {
    max-width: 90%;
    max-height: 90%;
    align-self: center;
}

.listing-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
}

.listing-title {
    font-size: 30px;
    font-weight: bold;
}

.listing-link {
    text-decoration: none;
    color: black;
}

.listing-description {
    font-size: 15px;
    color: #101010;
}

.listing-price {
    font-size: 40px;
    font-weight: bold;
    color: black;
}

.index-page-no-matches-label {
    grid-column: span 2;
    font-size: 30px;
    font-weight: 400;
    color: #202020;
    text-align: center;
    margin-top: 5rem;
}


.listing-page-listing {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #efefef;
    grid-column: span 3;
}

.listing-page-listing-img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 800px;
    min-width: 600px;
    min-height: 600px;
}

.listing-page-listing-img {
    max-width: 90%;
    max-height: 90%;
   
}

.listing-page-listing-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(3, 2fr) 6fr 1fr 2fr 2fr;
    grid-gap: 1rem;  
    align-items: center;
}

.listing-page-listing-title {
    font-size: 50px;
    font-weight: 600;
    color: #104010;
}

.listing-page-listing-price {
    font-size: 60px;
    font-weight: 700;
    color: black;
}

.listing-page-listing-category {
    font-size: 30px;
    font-weight: 400;
    color: #202020;
}

.listing-page-listing-description {
    font-size: 20px;
    font-weight: 400;
    color: #202020;
}

.listing-page-listing-meta {
    font-size: 15px;
    font-weight: 300;
    color: #303030;
}

.listing-page-bid-button, .listing-page-close-button {
    background-color: #88c588;
    font-weight: 700;
    font-size: 20px;
    min-width: 150px;
    min-height: 50px;
}

.listing-page-bid-input {
    min-height: 50px;
    font-size: 20px;
}

.listing-page-closed-label {
    font-size: 30px;
    opacity: 0.5;
    color: red;
}

.listing-page-user-bought-label {
    font-size: 30px;
    color: #88c588;
}

.listing-page-watchlist-button {
    background-color: #88c588;
    min-height: 50px;
    font-size: 20px;
    font-weight: 600;
}

.listing-page-comments-label {
    font-size: 30px;
    font-weight: 400;
    color: #88c588;
    grid-column: span 2;
}

.listing-page-comment-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 2;
    background-color: #efefef;
    min-height: 400px;
}
.listing-page-comment-form {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    gap: 1rem;
    min-width: 95%;
    min-height: 95%
}

.listing-page-comment-form-input {
    width: 100%;
    font-size: 20px;
}

.listing-page-comment-form-button {
    align-self: flex-end;
    width: 150px;
    height: 50px;
    font-size: 20px;
}

.listing-page-comment-container {
    grid-column: span 2;
    display: flex;
    background-color: #efefef;
    min-height: 300px;
    justify-content: center;
    align-items : center;
    padding: 1rem;
}

.listing-page-comment {
    display: grid;
    min-width: 100%;
    min-height: 100%;
    background-color: #dfdfdf;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
    gap: 1rem;
}

.listing-page-comment-content {
    font-size: 30px;
    font-weight: 500;
    color: #101010;
    padding: 1rem;
}

.listing-page-comment-meta {
    font-size: 20px;
    font-weight: 400;
    color: #202020;
    padding: 1rem;  
}

.categories-page-categories-container {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    padding: 1rem;
}

.categories-page-category {
    background-color: #88c588;
    width: 40%;
    padding: 1rem;
    justify-self: center;
    text-align: center;
}

.categories-page-link {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.create-listing-page-container {
    background-color: #efefef;
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 0.5rem;
}

.create-listing-page-form-title, .create-listing-page-form-image-url, .create-listing-page-form-starting-bid,  .create-listing-page-form-button {
    width: 15%;
    font-size: 1rem;
    padding: 0.5rem;
}

.create-listing-page-form-description {
    font-size: 1rem;
    width: 50%;
    padding: 0.5rem;
    aspect-ratio: 2;
}

.create-listing-page-form-category {
    text-align: center;
    width: 15%;
    font-size: 1rem;
    padding: 0.5rem;
}

.login-page-container {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-page-form {
    width: 30%;
    display: flex;
    flex-direction: column;
}


.login-page-label {
    font-size: 2rem;
    margin: 0.5rem;
}

.login-page-bar {
    min-width: 100%;
    margin: 0.5rem;
    padding: 1rem;
    font-size: 1rem;
}


.login-page-button {
    font-size: 1.25rem;
    padding: 1rem;
    margin: 0.5rem;
    width: 30%;
}

#login-page-register-link {
    font-size: 1rem;
}





