{% extends "auctions/layout.html" %}

{% block title %}
    {{ listing.title }}
{% endblock %}

{% block body %}  
        <div class="listing-page-listing">
            <div class="listing-page-listing-img-div">
                <img class="listing-page-listing-img" src="{{ listing.image_url }}" alt="No image">
            </div>
            <div class="listing-page-listing-content">
                <div></div>
                <div class="listing-page-listing-title">{{ listing.title }}</div>
                <div class="listing-page-listing-price">
                    {% if listing.latest_bid %}
                        {{ listing.latest_bid }}$
                    {% else %}
                        {{ listing.starting_bid }}$
                    {% endif %}
                </div>
                {% if listing.category %}
                    <div class="listing-page-listing-category">Category: {{ listing.category.category }}</div>
                {% else %}
                    <div></div>
                {% endif %}
                <div class="listing-page-listing-description">{{ listing.description }}</div>
                <div class="listing-page-listing-meta">posted by: {{ listing.owner }}</div>
                {% if listing.active == True %}
                    {% if user.is_authenticated %}
                        {% if listing.owner == user %}
                            <div>
                                <form action="{% url 'close' id=listing.id %}" method="POST">
                                    {% csrf_token %}
                                    <input class="listing-page-close-button" type="submit" value="Close auction">
                                </form>
                            </div>
                        {% else %}
                            <div>
                                <form action="{% url 'listing' id=listing.id %}" method="POST">
                                    {% csrf_token %}
                                    {{ bid_form }}
                                    <input class="listing-page-bid-button" type="submit" value="Make bid">
                                </form>
                            </div>
                            {% if listing in user.watchlist.all %}
                                <div>
                                    <form action="{% url 'watchlist_remove' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{ listing.id }}">
                                        <input class="listing-page-watchlist-button" type="submit" value="Remove from watchlist">
                                    </form>
                                </div>
                            {% else %}
                                <div>      
                                    <form action="{% url 'watchlist_add' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{ listing.id }}">
                                        <input class="listing-page-watchlist-button" type="submit" value="Add to watchlist">
                                    </form>
                                </div>
                            {% endif %}    
                        {% endif %}
                    {% endif %}
                {% else %}
                    {% if user.is_authenticated and user == listing.buyer %}
                        You bought this item. 
                    {% else %}
                        Sold.
                    {% endif %}
                {% endif %}
            </div>
    </div>
    {% if user.is_authenticated %}
        <div class="listing-page-comment-form-container">
            <form class="listing-page-comment-form" action="{% url 'comment' id=listing.id %}">
                {% csrf_token %}
                <div>{{ comment_form }}</div>
                <input class="listing-page-comment-form-button" type="submit" value="Add comment">
            </form>
        </div>
    {% endif %}
    {% if user.is_authenticated %}
        {% if listing.owner == user %}
            {% if listing.active == True %}
                <form action="{% url 'close' id=listing.id %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Close auction">
                </form>
            {% else %}
                <div>You closed this auction</div>
            {% endif %}    
        {% else %}
            {% if listing.active == True %}
                <div>
                    <form action="{% url 'listing' id=listing.id %}" method="POST">
                        {% csrf_token %}
                        {{ bid_form }}
                        <input type="submit" value="Make bid">
                    </form>
                </div>
                {% if bid_error %}
                    <div style="color: red;">{{ bid_error }}</div>
                {% endif %}
                <div>
                    {% if listing in user.watchlist.all %}
                        <form action="{% url 'watchlist_remove' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ listing.id }}">
                            <input type="submit" value="Remove from watchlist">
                        </form>
                    {% else %}        
                        <form action="{% url 'watchlist_add' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ listing.id }}">
                            <input type="submit" value="Add to watchlist">
                        </form>
                    {% endif %}        
                </div>
            {% else %}
                {% if listing.buyer == user %}
                    <div>You won this auction</div>
                {% else %}
                    <div>This auction is closed</div>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
    <div><h2>Comments:</h2></div>
    {% if user.is_authenticated %}
        <div>
            <form action="{% url 'comment' id=listing.id %}" method="POST">
                {% csrf_token %}
                {{ comment_form }}
                <input type="submit" value="Add comment">
            </form>
        </div>
    {% endif %}

    <div>
        {% for comment in comments %}
            <div>
                <h3>{{ comment.content }}</h3>
                <h4>posted by {{ comment.author }} on {{ comment.date }}</h4>
            </div>
        {% empty %}
            <div><h3>No comments yet</h3></div>
        {% endfor %}
    </div>
{% endblock %}
