{% extends "auctions/layout.html" %}

{% block title %}
    {{ listing.title }}
{% endblock %}

{% block body %}  
        <div class="listing-page-listing">
            <div class="listing-page-listing-img-div">
                <img class="listing-page-listing-img" src="{{ listing.image_url }}" alt="No image">
            </div>
            <div class="listing-page-listing-content">
                <div></div>
                <div class="listing-page-listing-title">{{ listing.title }}</div>           
                {% if listing.active %}
                    <div class="listing-page-listing-price">
                        {% if listing.latest_bid %}
                            {{ listing.latest_bid }}$
                        {% else %}
                            {{ listing.starting_bid }}$
                        {% endif %}
                    </div>
                {% else %}
                        {% if user.is_authenticated and listing.buyer == user %}
                            <div class="listing-page-user-bought-label">
                                You bought this item for {{ listing.latest_bid }}$
                            </div>
                        {% else %}
                            <div class="listing-page-closed-label">
                                CLOSED
                            </div>
                        {% endif %}
                {% endif %}
                {% if listing.category %}
                    <div class="listing-page-listing-category">Category: {{ listing.category.category }}</div>
                {% else %}
                    <div></div>
                {% endif %}
                <div class="listing-page-listing-description">{{ listing.description }}</div>
                <div class="listing-page-listing-meta">posted by: {{ listing.owner }}</div>
                {% if listing.active == True %}  
                    {% if user.is_authenticated %} 
                        {% if listing.owner == user %}
                            <div>
                                <form action="{% url 'close' id=listing.id %}" method="POST">
                                    {% csrf_token %}
                                    <input class="listing-page-close-button" type="submit" value="Close auction">
                                </form>
                            </div>
                        {% else %}
                            <div>
                                <form action="{% url 'listing' id=listing.id %}" method="POST">
                                    {% csrf_token %}
                                    {{ bid_form }}
                                    <input class="listing-page-bid-button" type="submit" value="Make bid">
                                </form>
                            </div>
                        {% endif %}
                    {% endif %}
                {% else %}
                    <div></div>
                {% endif %}
                {% if user.is_authenticated %}
                    {% if listing in user.watchlist.all %}
                        <div>
                            <form action="{% url 'watchlist_remove' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ listing.id }}">
                                <input class="listing-page-watchlist-button" type="submit" value="Remove from watchlist">
                            </form>
                        </div>
                    {% else %}
                        <div>      
                            <form action="{% url 'watchlist_add' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ listing.id }}">
                                <input class="listing-page-watchlist-button" type="submit" value="Add to watchlist">
                            </form>
                        </div>
                    {% endif %}    
                {% endif %}
            </div>
        </div>
        <div class="listing-page-comments-label">Comments:</div>
        {% if user.is_authenticated %}
            <div class="listing-page-comment-form-container">
                <form class="listing-page-comment-form" action="{% url 'comment' id=listing.id %}" method="POST">
                    {% csrf_token %}
                    {{ comment_form }}
                    <input class="listing-page-comment-form-button" type="submit" value="Add comment">
                </form>
            </div>
        {% endif %}
        {% for comment in comments %}
            <div class="listing-page-comment-container">
                <div class="listing-page-comment">
                    <div class="listing-page-comment-content"> {{ comment.content }}</div>
                    <div class="listing-page-comment-meta">posted by {{ comment.author }} on {{ comment.date }}</div>             
                </div>
            </div>
        {% empty %}
            <div>No comments yet.</div>
        {% endfor %}
{% endblock %}
